.area_section_skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, 111px);
    gap: 20px;
    justify-content: center;
    max-width: var(--max-width);
    margin: auto;

    .skill_item {
        width: 111px;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 2px solid var(--color-primary);
        transition: .3s;
        cursor: pointer;

        &:hover {
            box-shadow: var(--boxshadow-default);
        }

        span svg {
            font-size: 40px;
        }
    }
}